/* Mi hoja de estilo */
@media (min-width: 992px) {
  section {
      box-sizing: border-box;
      margin: 15px;
      float: left;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
}

